<form action="/restaurants/{{restaurant._id}}/edit" method="POST">
  <div>
    餐廳名稱
    <input type="text" name="name" placeholder="餐廳名稱" value={{restaurant.name}} size="50">
  </div>
  <div>
    餐廳類別
    <input type="text" name="category" placeholder="餐廳類別" value={{restaurant.category}} size="50">
  </div>
  <div>
    餐廳地址
    <input type="text" name="location" placeholder="餐廳地址" value="{{{restaurant.location}}}" size="50">
  </div>
  <div>
    餐廳電話
    <input type=" text" name="phone" placeholder="餐廳電話" value="{{{restaurant.phone}}}" size="50">
  </div>
  <div>
    關於餐廳
    <input type=" text" name="description" placeholder="關於餐廳" value="{{{restaurant.description}}}" size="80">
  </div>
  <button type="submit">送出表單</button>
  <a href="/">back</a>
</form>